h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  app-board {
    width: 200px;
    margin-bottom: 20px;
  }
}

app-score-board {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
