@import '../../styles.scss';

.board {
  width: 100%;

  mat-grid-list {
    mat-grid-tile {
      cursor: pointer;
      background: #787f7f;
      transition: 0.5s;
      border-radius: 3px;
      border-width: 3px;
      &.x-turn {
        &:hover {
          background: $x-color;
        }
      }
      &.o-turn {
        &:hover {
          background: $o-color;
        }
      }

      &.full {
        cursor: default;
        &.x {
          background: $x-color;
        }

        &.o {
          background: $o-color;
        }
      }
    }
  }
}
