.board {
  width: 100%;

  mat-grid-list {
    mat-grid-tile {
      cursor: pointer;
      background: azure;
      transition: 0.5s;
      border-radius: 3px;
      border-width: 3px;
      &:hover {
        background: aqua;
      }
      &.full {
        cursor: default;
      }
    }
  }
}
