.board {
  margin-top: 25px;
  margin-left: 40%;
  margin-right: 40%;

  mat-grid-list {
    mat-grid-tile {
      cursor: pointer;
      &:nth-child(2), &:nth-child(5), &:nth-child(8) {
        border-left: 1px solid black;
        border-right: 1px solid black;
      }

      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }

      &.full {
        cursor: default;
      }
    }
  }
}
